@charset "utf-8";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/utilities/text/replacement";
@import 'sticky_footer';

$fancyFont: "ltc-bodoni-175", serif;

$lightColor: white;
$darkColor: #999;

html {
  background: url(image-path('walt-felt.jpg'));
}

body {
  padding: 0;

  background: #787065 url(image-path('walt-felt.jpg'));
  color: $lightColor;

  font-family: $fancyFont;
  font-size: 18px;
  line-height: 28px;
}

.wrapper {
  background: url(image-path('big-beard-walt.jpg')) center top no-repeat;
  background-size: 100% auto;
  min-height: 100%;
}

.container {
  // position: relative;
  margin: 0 auto;
  max-width: 640px;
}

.push {
  margin-top: 100px;
}

a {
  @include transition(color .5s ease-out);
  text-decoration: none;
  color: $lightColor;

  &:hover {
    @include transition(none);
    color: lighten($darkColor, 15%);
  }
}

h1 {
  position: absolute;
  top: 2vw;
  height: 20vw;
  width: 64vw;
  margin-left: 50vw;
  left: -32vw;
  // margin: 0 auto;
  // padding-top: 145px;

  font-family: $fancyFont;
  font-weight: normal;
  font-size: 60px;
  @include replace-text(image-path('lorem-whitman-logo.png'), center, top);
  background-size: 100% auto;

  a {
    text-decoration: none;
  }
}

h3 {
  margin-top: 48px;
}

.mustache-aligner {
  height: 51vw;
  content: '.';
  color: transparent;
}

.samples {
  max-width: 640px;
  padding: 0 24px;
  list-style: none;

  p {
    margin: 0 0 24px 0;
  }

  p:first-letter {
    font-size: 1.5em;
  }

  li {
    @include transition(max-height 1.2s ease-out);
    max-height: 300px;
    overflow: hidden;

    &.hidden {
      max-height: 0;
    }
  }
}

h1, .actions, footer {
  text-align: center;
}

.fetch {
  padding: 3px 6px;
  
  background-color: $lightColor;
  color: #333;

  font-size: .8em;
  text-transform: uppercase;

  &:hover {
    color: #333;
    background-color: #ccc;
  }
}

footer {
  ul {
    padding: 0;
    margin: auto;
    height: 60px ;

    list-style: none;
  }

  li {
    @include box-sizing(border-box);
    float: left;
    width: 33.3333333333%;
    
    border-left: 1px solid rgba(255,255,255,.3);
    
    &:first-child {
      border: none;
    }

    a {
      display: block;
      line-height: 60px;
    }
  }
}
