@charset "utf-8";

body {
  padding-top: 200px;

  background: #d4d4d4 url("../images/background.png");
  color: rgba(25,0,0,.7);

  font-family: serif;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 640px;
}

h1 {
  margin: 0 0 60px 0;

  font-family: "voluta-script-pro", serif;
  font-weight: normal;
  font-size: 160px;
  text-align: center;
}

pre {
  font-weight: bold;
  font-family: serif;
}

pre:first-letter {
  font-size: 48px;
  font-weight: normal;
  letter-spacing: -3px;
}



