---
title: Lorem Whitman
---

<ul class="samples">
<% paragraphs.each do |p| %>
<li><p><%= p %></p></li>
<% end %>
</ul>
<div class="actions">
  <a href="#" class="fetch">Not yet satisfied?</a>
</div>
