---
title: Lorem Whitman
---

<div class="container">
  <h1>Lorem Whitman</h1>
  <ul class="chunks">
  <% paragraphs.each do |p| %>
  <li><p><%= p %></p></li>
  <% end %>
  </ul>
  <button class="fetch">Not yet satisfied?</button>
</div>